* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}

body {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}

/*learn how to space links with differently without space-between*/
.header {
  height: 400px;
  width: auto;
  background-color: #1f2837;
  display: flex;
}

.header-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.header-links {
  display: flex;
  font-size: 18px;
  gap: 16px;
}

.website-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
}

.header-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.website-info-text {
  color: #f9faf8;
  font-size: 16px;
  padding: 12px 0;
}

.text-content {
  flex: auto;
  width: 500px;
  height: auto;
}
.content-container {
  display: flex;
  flex: auto;
  align-items: center;
}

.btn-signup {
  padding: 5px 25px;
  background-color: #3882f6;
  border-color: #3882f6;
  border-radius: 8px;
}

.btn-text {
  color: #f9faf8;
  font-weight: 800;
  font-size: 12px;
}

.information-container {
  height: 500px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.information-cards {
  display: flex;
  gap: 48px;
  flex: auto;
}

.card {
  width: 200px;
  height: auto;
  text-align: center;
}

.info-title {
  display: flex;
  flex: auto;
  align-items: center;
  font-size: 36px;
  font-weight: 800;
}

.card-text {
  margin: 5px;
}

.quote {
  height: 300px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6e7eb;
}

.quote-card {
  width: 900px;
  font-size: 32px;
}

.quote-text {
  color: #1f2937;
  font-style: italic;
}

.quote-author {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  font-size: 24px;
  font-weight: 800;
}

.signup-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-info {
  display: flex;
  background-color: #3882f6;
  width: 1100px;
  padding: 40px 100px;
  border-radius: 10px;
  color: #e6e7eb;
}

.signup-info .btn-signup {
  border-color: #e6e7eb;
  color: #e6e7eb;
  font-size: 16px;
  font-weight: 700;
  border-width: 2px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 36px;
}

.signup-text .title {
  font-size: 24px;
  font-weight: 700;
  font-size: 36px;
}

.signup-text .text {
  margin-top: 8px;
  width: 700px;
  font-size: 16px;
}

.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2837;
  color: #e6e7eb;
  font-size: 16px;
  font-weight: 600;
}
